<h1>Espera</h1>
<h2>All US Ports of Entry</h2>

<%# Drop down selector %>
<%#= collection_select(:id, :port_name, Port.all, :id, :port_name) %>
<% @ports.each do |port| %>
  <ol>
    <%= link_to port.port_name, port %> |
    <%= port.crossing_name %><br>
    <%= port.border %> - 
    Hours: <%= port.hours %> <br><br>
  </ol>
<% end %>

